<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="./pic/favicon.png" />
    <link href="chatbot.css" rel="stylesheet" />
  </head>
  <body>
    <div class="chatbot">
      <header>
        <h2>Chatbot</h2>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>
            Hey There! <br />
            How can i help you today?
          </p>
        </li>
        <li class="chat outgoing">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea placeholder="Enter a message..."></textarea>
        <span id="send-btn" class="material-symbols-outlined">send</span>
      </div>
    </div>
  </body>
</html>
