<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Copatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="./pic/favicon.png">
    <link href="MainStyle.css" rel="stylesheet" />
  </head>
  <body>
     <!--Scroll to up button-->
     <div class="scroll-btn">
      <a href="#home"><i class="fas fa-arrow-up"></i></a>
     </div>
    <!--Header-->
    <header class="header" id="home">
      <nav class="nav">
        <a href="#" class="nav_logo"><img class="logo" src="./pic/comuneedy_logo.png"></a>

        <ul class="nav_items">
          <li class="nav_item">
            <a href="#" class="nav_link">Home</a>
            <a href="./newRequest.html" id="Request" class="nav_link">Request</a>
            <a href="#" class="nav_link">Profile</a>
            <a href="#" class="nav_link">Contact</a>
            <a href="#" class="nav_link">About</a>
          </li>
        </ul>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <button class="button" id="loginButton">Login</button>
      </nav>
    </header>

    <!--Home-->
    <section class="home">
        <div class="home-content">
            <div class="text">
                <div class = "text-one">Empowering Help,</div>
                <div class = "text-two">Connecting Hearts,</div>
                <div class = "text-three">Changing Lives.</div>
            </div>
            <div class="button">
              <a href="./createUser.html"><button>Join Us Today</button></a>
            </div>
          </section>

          <!--About Section Start-->
    <section class="about" id="about">
            <div class="content">
              <div class="title"><span>About Us</span></div>
              <div class="about-details">
                <div class="right">
                   <img src="./pic/tg.jpg" alt="">
              </div>
              <div class="left">
                 <div class="topic">Helping Is What Make Us Better Comuunity!</div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aperiam quos molestias fuga, culpa dolore facilis corrupti maxime distinctio atque nobis vero doloribus blanditiis porro officia pariatur itaque voluptatem exercitationem.</p>
                 <div class="button">
                  <a href="./createUser.html"><button>Join Us Today</button></a>
                   </div>
                 </div>
               </div>
             </div>
          </section>
          <!--Another Section Of Options-->
<section class="skills" id="skills">
  <div class="content">
    <div class="title"><span>Our ComuNeedy</span></div>
    <div class="skill-details"> <!-- Corrected typo here -->
      <div class="left">
        <div class="topic">Helping Reflects Our Knowledge</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et recusandae, minus consequatur omnis corrupti fuga facere eius? Fugiat iure voluptate iste nisi distinctio minus eius sed expedita, possimus repudiandae impedit.</p>
        <div class="experience">
          <div class="num">1</div>
          <div class="exp">In Comuinity <br>Unity Prevails</div>
        </div>
      </div>
      <div class="boxes">
        <div class="box">
          <div class="topic">Users</div>
          <div class="num">95</div>
        </div>
        <div class="box">
          <div class="topic">Volunteers</div>
          <div class="num">82</div>
        </div>
        <div class="box">
          <div class="topic">People We Helped</div>
          <div class="num">55</div>
        </div>
        <div class="box">
          <div class="topic">Successful Taks</div>
          <div class="num">22</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Another Section Of Our Rules-->
<section class="services" id="services">
  <div class="content">
    <div class="title"><span>Our Services & Rules</span></div>
    <div class="boxes">
      <div class="box">
        <div class="icon">
          <i class="fas fa-desktop"></i>
        </div>

        <div class="form">
            <form id="userForm">
                <h1>Login</h1>
                <label for="Email">Email:</label><br>
                <input type="email" id="Email" name="Email" required><br>

                <label for="Password">Password:</label><br>
                <input type="password" id="Password" name="Password" required><br>

                <button type="button" onclick="login()">Login</button><br>

                <button type="button" id="createAccount">Create Account</button><br>

                <a href="./forgotPassword.html">Forgot Password?</a>
            </form>
        </div>
        <div class="topic">Keep Secrets</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <div class="topic">Always For All</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-android"></i>
        </div>
        <div class="topic">Stay Togther</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-camera-retro"></i>
        </div>
        <div class="topic">Big Comuinity</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div>
     <div class="box">
      <div class="icon">
        <i class="fas fa-tablet-alt"></i>
      </div>
      <div class="topic">We Bealive</div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
     </div>
    </div>
  </div>
</section>
<!--Another Section Of Contact Us-->
<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>Contact Us</span></div>
    <div class="text">
      <div class="topic">Have Any Idea?</div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut explicabo culpa vitae earum, porro fuga at ad quis nulla nemo laudantium aliquam accusamus quidem expedita inventore adipisci, dolore qui. Architecto laudantium officiis rerum reiciendis, aut consequatur consectetur optio expedita ipsa.</p>
      <div class="button">
        <button>Let's Chat</button>
    </div>
   </div>
  </div>
</section>
          <div class="form_container">
            <i class="uil uil-times"></i>
          </div>
        </div>

    <script>
        var userEmail = sessionStorage.getItem('userEmail');

        // Check if the email is available
        if (userEmail) {
            // Use the userEmail as needed (e.g., display it in a welcome message)
            console.log('User Email:', userEmail);
        } else {
            // Handle the case where the email is not available (e.g., redirect to the login page)
            alert('User email not found. Redirecting to login page.');
            window.location.href = "./login.html"; // Replace with your actual login page
        }
          const loginButton = document.getElementById("loginButton");
          loginButton.addEventListener("click", function() {
            window.location.href = "./login.html";
          });
        const createAccountButton = document.getElementById('createAccount');

            // Add a click event listener to the button
            createAccountButton.addEventListener('click', function() {
                // Change the location to createUser.html
                window.location.href = 'createUser.html';
        });
       const newRequest = document.getElementById("Request");
      newRequest.addEventListener("click", function() {
        window.location.href = "newRequest.html";
      });
        async function login() {
            const userForm = document.getElementById('userForm');
            const formData = new FormData(userForm);
            const user_json = {};
            formData.forEach((value, key) => {user_json[key] = value})
            console.log(user_json);

    </script>
    <script>
      // Add click event listener to scroll button
      document.querySelector('.scroll-btn').addEventListener('click', function() {
        // Scroll to the top of the page smoothly
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });

      // Show or hide the scroll button based on scroll position
      window.addEventListener('scroll', function() {
        const scrollBtn = document.querySelector('.scroll-btn');
        // If the scroll position is greater than 500px, show the scroll button
        if (window.scrollY > 500) {
          scrollBtn.style.display = 'block';
        } else {
          // Otherwise, hide the scroll button
          scrollBtn.style.display = 'none';
        }
        function displaySuccessMessage(message) {
            const successMessageElement = document.getElementById('successMessage');
            successMessageElement.textContent = message;
            successMessageElement.style.display = 'block';
        }
        function hideForm() {
        const userForm = document.getElementById('userForm');
        userForm.style.display = 'none';
        }

        document.getElementById('createAccount').addEventListener('click', function(){
            window.location.href = 'createUser.html';

        });


    </script>

</body>
</html>