<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <title>Document</title>
  <link rel="icon" type="image/x-icon" href="./pic/favicon.png">
  <link href="MainStyle.css" rel="stylesheet" />
</head>
<body>
 <!--Scroll to up button-->
 <div class="scroll-btn">
  <a href="#home"><i class="fas fa-arrow-up"></i></a>
 </div>
<!--Header-->
<header class="header" id="home">
  <nav class="nav">
    <a href="#" class="nav_logo"><img class="logo" src="./pic/comuneedy_logo.png"></a>
    <ul class="nav_items">
      <li class="nav_item">
        <a href="#" class="nav_link">Home</a>
        <a href="./newRequest.html" class="nav_link">Request</a>
        <a href="#" class="nav_link">Profile</a>
        <a href="#" class="nav_link">Contact</a>
        <div id="navbar"></div>

        <a href="./FAQ.html" class="nav_link">FAQs</a>
        <a href="./forum.html" class="nav_link">Forum</a>
      </li>
    </ul>
    <div class="media-icons">
      <!--<a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>-->
    </div>

    <button class="button" id="loginButton">Login</button>
  </nav>

  <div class="announcement-box" id="announcementBox">
    <div class="announcement-content">
      <h2>ComuuNeedy Announcements</h2>
      <p>27/03/2024 - The Service is under construction. We're working hard to imporove our website and will be ready soon to launch.</p>
    </div>
  </div>
</header>


<!--Home-->
<section class="home">
    <div class="home-content">
        <div class="text">
            <div class="text-one">Empowering Help,</div>
            <div class="text-two">Connecting Hearts,</div>
            <div class="text-three">Changing Lives.</div>
        </div>
        <div class="button"id="join_button">
          <a href="./createUser.html"><button>Join Us Today</button></a>
        </div>
      </section>

      <!--About Section Start-->
<section class="about" id="about">
        <div class="content">
          <div class="title"><span>About Us</span></div>
          <div class="about-details">
            <div class="right">
               <img src="./pic/tg.jpg" alt="">
          </div>
          <div class="left">
             <div class="topic">Helping Is What Make Us Better Comuunity!</div>
             <p>In our community, the spirit of helping is the cornerstone of our identity. It's not just about offering aid; it's about fostering a culture of empathy, collaboration, and support. Together, we uplift each other, strengthen bonds, and create a more resilient and compassionate community</p>
             <div class="button">
              <a href="./createUser.html"><button>Join Us Today</button></a>
               </div>
             </div>
           </div>
         </div>
      </section>
      <!--Another Section Of Options-->
<section class="skills" id="skills">
  <div class="content">
    <div class="title"><span>Our ComuNeedy</span></div>
    <div class="skill-details"> <!-- Corrected typo here -->
      <div class="left">
        <div class="topic">Helping Reflects Our Knowledge</div>
        <p>At ComuNeedy, we believe that our collective knowledge is a powerful tool for making a difference in the lives of others. Every act of assistance is an opportunity to leverage our wisdom and skills to create positive change within our community.</p>
        <div class="experience">
          <div class="num">1</div>
          <div class="exp">In Comuinity <br>Unity Prevails</div>
        </div>
      </div>
      <div class="boxes">
        <div class="box">
          <div class="topic">Users</div>
          <div class="num">95</div>
        </div>
        <div class="box">
          <div class="topic">Volunteers</div>
          <div class="num">82</div>
        </div>
        <div class="box">
          <div class="topic">People We Helped</div>
          <div class="num">55</div>
        </div>
        <div class="box">
          <div class="topic">Successful Taks</div>
          <div class="num">22</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Another Section Of Our Rules-->
<section class="services" id="services">
  <div class="content">
    <div class="title"><span>Our Services & Rules</span></div>
    <div class="boxes">
      <div class="box">
        <div class="icon">
          <i class="fas fa-desktop"></i>
        </div>
        <div class="topic">Unity in Diversity</div>
        <p>Our community thrives on the richness of its diversity. Together, we embrace and celebrate our differences, recognizing that diversity is our strength.</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <div class="topic">Strength in Solidarity</div>
        <p>olidarity binds us together as a community. By standing united, we amplify our impact and create a supportive environment where everyone's needs are valued and met.</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-tags"></i>
        </div>
        <div class="topic">Empowerment through Assistance</div>
        <p>At ComuNeedy, we believe in empowering individuals through mutual aid and assistance. Together, we uplift each other, fostering a sense of empowerment and self-reliance</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-camera-retro"></i>
        </div>
        <div class="topic">Compassionate Collaboration</div>
        <p>Collaboration lies at the heart of our community. Through collaborative efforts, we address challenges, share resources, and create positive change for all members.
        </div>
        <div class="box">
         <div class="icon">
          <i class="fas fa-plug"></i>
         </div>
         <div class="topic">Inclusivity and Accessibility</div>
         <p>Inclusivity is our guiding principle. We strive to make our services accessible to all, ensuring that every member of our community feels welcomed and valued</p>
        </div>
        <div class="box">
         <div class="icon">
           <i class="fas fa-tablet-alt"></i>
         </div>
         <div class="topic">Community-driven Innovation</div>
         <p>Innovation flourishes within our community. By harnessing the collective wisdom and creativity of our members, we pioneer new solutions and initiatives to better serve everyone's needs</p>
        </div>
       </div>
     </div>
   </section>
   <!--Another Section Of Contact Us-->
   <section class="contact" id="contact">
     <div class="content">
       <div class="title"><span>Contact Us</span></div>
       <div class="text">
         <div class="topic">Have Any Idea?</div>
         <p>Your ideas shape our community's future. Whether it's a suggestion for improvement, a new initiative, or feedback on our services, we value your input and encourage you to share your ideas with us. Together, we can make ComuNeedy an even better place for everyone</p>
         <div class="button">
          <a href="./Chat.html"><button>Chat With Us</button></a>
       </div>
      </div>
     </div>
   </section>
    <!--Connect With us-->
    <footer>
      <div class="content">
        <div class="top">
          <div class="logo-details">
            <i class="fab fa-slack"></i>
            <a href="#" class="nav_logo"><img class="logo" src="./pic/comuneedy_logo.png"></a>
          </div>
          <div class="media-icons">
            <a href="./https://www.facebook.com/Comunnedy"><i class="fab fa-facebook-f"></i></a>
            <a href="./https://www.instagram.com/Comunnedy"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="./https://www.linkedin.com/company/Comuneedy-family"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <!-- Stay in Touch -->
        <div class="stay-in-touch">
          <p>Stay in Touch,We Here for You.</p>
          <ul>
            <li><a href="mailto:Comuneedy@gmail.com"><i class="fas fa-envelope"></i>Email: Comuneedy@gmail.com</a></li>
            <li>Phone: 055-6614199, 053-422400,054-8019105,053-7157779</li>
            <li><a href="https://www.facebook.com/Comunnedy"><i class="fab fa-facebook-f"></i>Facebook: Comunnedy</a></li>
            <li><a href="https://www.instagram.com/Comunnedy"><i class="fab fa-instagram"></i>Instagram: Comunnedy</a></li>
            <li><a href="https://www.linkedin.com/company/Comuneedy-family"><i class="fab fa-linkedin-in"></i>LinkedIn: Comuneedy Family</a></li>
          </ul>
        </div>
      </div>
    </footer>
   <div class="form_container">
     <i class="uil uil-times"></i>
   </div>
 
 <script>
        var isAdmin = false;
        var UserNotAdmin = false;
        const userDetails =JSON.parse(sessionStorage.getItem('user'));
        if (userDetails){
            console.log(userDetails.role)
            if (userDetails.role == 'admin')
            {
                isAdmin = true;
            }
            else{
            UserNotAdmin = true;
            }
            console.log(isAdmin)

        }
     if (isAdmin) {
                var navItem = document.querySelector(".nav_item");
                var link = document.createElement("a");
                link.href = "./adminRequestApprove.html";
                link.className = "nav_link";
                link.textContent = "Approve Requests";
                document.getElementById("navbar").appendChild(link);
                var space = document.createTextNode("\u00A0\u00A0"); // Unicode for two spaces
                document.getElementById("navbar").appendChild(space);
                var link2 = document.createElement("a");
                link2.href = "./Block_user.html";
                link2.className = "nav_link";
                link2.textContent = "Block user";
                navItem.appendChild(link2);
            }
     else if (UserNotAdmin) {
                
                var navItem = document.querySelector(".nav_item");

                var link1 = document.createElement("a");
                link1.href = "./ownerless_requests.html";
                link1.className = "nav_link";
                link1.textContent = "Get your request now!";
                navItem.appendChild(link1);

                var space = document.createTextNode("\u00A0\u00A0"); // Unicode for two spaces
                navItem.appendChild(space);

                var link2 = document.createElement("a");
                link2.href = "./My_requests.html";
                link2.className = "nav_link";
                link2.textContent = "My requests";
                navItem.appendChild(link2);
            }
     window.addEventListener('load', function() {
        const loggedInUser = sessionStorage.getItem('user');
        const loginButton = document.getElementById('loginButton');

        if (loggedInUser) {
            loginButton.textContent = 'Log Out';
            loginButton.addEventListener('click', function() {
            // Remove the logged-in user from sessionStorage
            sessionStorage.removeItem('user');
            // Redirect the user to the login page or any other desired page
            window.location.href = 'index.html';
            });
        } else {
            loginButton.textContent = 'Login';
            loginButton.addEventListener('click', function() {
            window.location.href = 'login.html';
            });
            }
        });
     const loginButton = document.getElementById("loginButton");
     loginButton.addEventListener("click", function() {
     if (loggedInUser){
       window.location.href = "login.html";
       }
     });
     const requestButton = document.getElementById("request");
     requestButton.addEventListener("click", function() {
       window.location.href = "newRequest.html";
     });
     const createAccountButton = document.getElementById('createAccount');
 
         // Add a click event listener to the button
         createAccountButton.addEventListener('click', function() {
             // Change the location to createUser.html
             window.location.href = 'createUser.html';
     });
     async function login() {
         const userForm = document.getElementById('userForm');
         const formData = new FormData(userForm);
         const user_json = {};
         formData.forEach((value, key) => {user_json[key] = value})
         console.log(user_json);
     }
 
 
     // Add click event listener to scroll button
     document.querySelector('.scroll-btn').addEventListener('click', function() {
       // Scroll to the top of the page smoothly
       window.scrollTo({ top: 0, behavior: 'smooth' });
     });
     
 
     // Show or hide the scroll button based on scroll position
     window.addEventListener('scroll', function() {
       const scrollBtn = document.querySelector('.scroll-btn');
       // If the scroll position is greater than 500px, show the scroll button
       if (window.scrollY > 500) {
         scrollBtn.style.display = 'block';
       } else {
         // Otherwise, hide the scroll button
         scrollBtn.style.display = 'none';
       }
       function displaySuccessMessage(message) {
           const successMessageElement = document.getElementById('successMessage');
           successMessageElement.textContent = message;
           successMessageElement.style.display = 'block';
       }
       function hideForm() {
       const userForm = document.getElementById('userForm');
       userForm.style.display = 'none';
       }
 
       document.getElementById('createAccount').addEventListener('click', function(){
           window.location.href = 'createUser.html';
       });
     })
     
 
 </script>
 <script>
  document.getElementById('announcementBox').addEventListener('click', function() {
      this.classList.toggle('hidden'); // Toggle the hidden class
  });
</script>

 
 </body>
 </html>