<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Copatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="./pic/favicon.png">
    <link href="MainStyle.css" rel="stylesheet" />
  </head>
  <body>
    <!--Header-->
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav_logo">ComuNeedy</a>

        <ul class="nav_items">
          <li class="nav_item">
            <a href="#" class="nav_link">Home</a>
            <a href="#" class="nav_link">Request</a>
            <a href="#" class="nav_link">Profile</a>
            <a href="#" class="nav_link">Contact</a>
            <a href="#" class="nav_link">About</a>
          </li>
        </ul>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <button class="button">Login</button>
      </nav>
    </header>

    <!--Home-->
    <section class="home">
        <div class="home-content">
            <div class="text">
                <div class = "text-one">Empowering Help,</div>
                <div class = "text-two">Connecting Hearts,</div>
                <div class = "text-three">Changing Lives.</div>
            </div>
            <div class="button">
              <button>Join Us Today</button>
            </div>
          </section>

          <!--About Section Start-->
    <section class="about" id="about">
            <div class="content">
              <div class="title"><span>About Us</span></div>
              <div class="about-details">
                <div class="right">
                   <img src="./pic/tg.jpg" alt="">
              </div>
              <div class="left">
                 <div class="topic">Helping Is What Make Us Better Comuunity!</div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aperiam quos molestias fuga, culpa dolore facilis corrupti maxime distinctio atque nobis vero doloribus blanditiis porro officia pariatur itaque voluptatem exercitationem.</p>
                 <div class="button">
                    <button>Join Us Today</button>
                   </div>
                 </div>
               </div>
             </div>
          </section>
          <!--Another Section Of Options-->
<section class="skills" id="skills">
  <div class="content">
    <div class="title"><span>Our ComuNeedy</span></div>
    <div class="skill-details"> <!-- Corrected typo here -->
      <div class="left">
        <div class="topic">Helping Reflects Our Knowledge</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et recusandae, minus consequatur omnis corrupti fuga facere eius? Fugiat iure voluptate iste nisi distinctio minus eius sed expedita, possimus repudiandae impedit.</p>
        <div class="experience">
          <div class="num">1</div>
          <div class="exp">In Comuinity <br>Unity Prevails</div>
        </div>
      </div>
      <div class="boxes">
        <div class="box">
          <div class="topic">Users</div>
          <div class="num">95</div>
        </div>
        <div class="box">
          <div class="topic">Volunteers</div>
          <div class="num">82</div>
        </div>
        <div class="box">
          <div class="topic">People We Helped</div>
          <div class="num">55</div>
        </div>
        <div class="box">
          <div class="topic">Successful Taks</div>
          <div class="num">22</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Another Section Of Our Rules-->
<section class="services" id="services">
  <div class="content">
    <div class="title"><span>Our Services & Rules</span></div>
    <div class="boxes">
      <div class="box">
        <div class="icon">
          <i class="fas fa-desktop"></i>
        </div>
        <div class="topic">Helping</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div><div class="box">
        <div class="icon">
          <i class="fas fa-paint-brush"></i>
        </div>
        <div class="topic">Keep Secrets</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <div class="topic">Always For All</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-android"></i>
        </div>
        <div class="topic">Stay Togther</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div>
       <div class="box">
        <div class="icon">
          <i class="fas fa-camera-retro"></i>
        </div>
        <div class="topic">Big Comuinity</div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
       </div>
     <div class="box">
      <div class="icon">
        <i class="fas fa-tablet-alt"></i>
      </div>
      <div class="topic">We Bealive</div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quos veritatis voluptates sed? Ipsam distinctio vero labore repellendus ex nisi excepturi saepe, expedita dicta quisquam minus, quas obcaecati cupiditate! Sed?</p>
     </div>
    </div>
  </div>
</section>
          <div class="form_container">
            <i class="uil uil-times"></i>
          </div>
        </div>
  </body>
</html>
