/*Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 75px;
  width: 100%;
  background: #367038;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  background: #367038;
  margin: auto;
}
nav .navbar .logo a {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu {
  display: flex;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a {
  color: #fff;
  font-weight: 17px;
  font-weight: 500;
  text-decoration: none;
}

.button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 7px 12px;
  background: #367038;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
