<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <title>RequestPage</title>
    <link rel="icon" type="image/x-icon" href="./pic/favicon.png" />
    <link href="Pr.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="logo"><a href="#">ComuNeedy</a></div>
          <ul class="menu">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./FAQ.html">FAQ</a></li>
            <li><a href="./newRequest.html">Reviews</a></li>
            <li><a href="./login.html">Login</a></li>
            <li><a href="./index.html">LogOut</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="button">
       <a href="#Home"><i class="fas fa-arrow-up"></i></a>
    </div>
  </body>
</html>
