<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Copatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <script src="Reviews.js" defer></script>
    <link href="Reviews.css" rel="stylesheet" />
    <title>Reviews</title>
  </head>
  <body>
    <ul class="nav">
      <li class="nav_item">
        <a href="./index.html" class="nav_link">Home</a>
        <a href="./newRequests.html" class="nav_link">Request</a>
        <a href="#" class="nav_link">Profile</a>
        <a href="#" class="nav_link">Contact</a>
        <a href="#" class="nav_link">About</a>
      </li>
    </ul>
    <div class="rating-box">
      <a href="#" class="nav_logo"
        ><img class="logo" src="./pic/comuneedy_logo.png"
      /></a>
      <header>How Was Your experience?</header>
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
  </body>
  <!--Box Response-->
  <section>
    <div class="comment-box">
      <p>Leave a Comment</p>
      <form class="comment-from">
        <input type="text" id="name" placeholder="Name" />
        <input type="email" id="email" placeholder="Email" />
        <textarea rows="10" id="comment" placeholder="Write Your Comment"></textarea>
        <button type="button" onclick="send_review()">Post Your Review</button>
      </form>
    </div>
  </section>
</html>
